customer_service_&_lead_tracking/chatwoot_dashboards/Cancelar o Posponer cita manual chatwoot dashboard cliente.json
{
  "name": "Cancelar o Posponer cita manual chatwoot dashboard cliente",
  "nodes": [
    {
      "parameters": {
        "content": "Chatwoot Dashboard Backend: Cancellation & Postponement\n\nThis workflow manages the lifecycle of cancelled or postponed appointments directly from the Chatwoot interface.\n\nKey Features:\n- Status Sync: Automatically deletes Google Calendar events when cancelled.\n- Multichannel Notification: Sends automated 'Cancellation' or 'Postponed' emails via Gmail and WhatsApp messages.\n- Team Alerts: Notifies the sales team via Telegram of any schedule changes.\n- AI Memory Update: Logs the cancellation in the Postgres conversation history to ensure the AI agent is aware of the change during future customer interactions.",
        "height": 400,
        "width": 300,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        -400
      ],
      "typeVersion": 1,
      "id": "doc-chatwoot-cancellation",
      "name": "Cancellation Logic Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d6cdbb82-f9a6-455d-a95f-df5c3fb35ff3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -128
      ],
      "id": "468652ea-b03b-46ca-ad83-a4025c3c4401",
      "name": "Webhook",
      "webhookId": "d6cdbb82-f9a6-455d-a95f-df5c3fb35ff3"
    },
    {
      "parameters": {
        "chatId": "your_telegram_chat_id",
        "text": "=Cita Cancelada con {{ $('Webhook').item.json.body.cliente.nombre }}\nFecha: {{ $('obtener_citas').item.json.fecha_cita_legible }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -224
      ],
      "id": "23bcf184-b618-48b4-a3c1-b7c103bc89fb",
      "name": "agenda_telegram_citas2",
      "webhookId": "2e1dac8d-f98d-4807-8539-2fd816da71c0",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "your_telegram_credential_id",
          "name": "Citas your_brand"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "your_telegram_chat_id",
        "text": "=Cita pospuesta con {{ $('Webhook').item.json.body.cliente.nombre }}\nFecha: {{ $('obtener_citas').item.json.fecha_cita_legible }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -32
      ],
      "id": "54f35daa-e59e-40c8-8afd-c7faff76157a",
      "name": "agenda_telegram_citas3",
      "webhookId": "2e1dac8d-f98d-4807-8539-2fd816da71c0",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "your_telegram_credential_id",
          "name": "Citas your_brand"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.cliente.email }}",
        "subject": "Cita Cancelada",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>Cita Cancelada - your_brand</title> </head> <body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #0a0a0a;\">     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #0a0a0a; padding: 20px;\">         <tr>             <td align=\"center\">                 <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #1a1a1a; border-radius: 15px; overflow: hidden; box-shadow: 0 0 30px rgba(255, 50, 50, 0.2); border: 1px solid #ff3232;\">                                          <!-- Header con logo y fondo decorativo -->                     <tr>                         <td style=\"background: linear-gradient(135deg, #000000 0%, #1a1a1a 100%); padding: 40px 30px; text-align: center; position: relative; border-bottom: 2px solid #ff3232;\">                                                          <!-- Logo -->                             <img src=\"https://ik.imagekit.io/49rd3bmeqs/Logos%20your_brand/logo2%20(3).png?updatedAt=1759468732222\" alt=\"your_brand Logo\" style=\"width: 120px; height: auto; margin-bottom: 20px; filter: drop-shadow(0 0 10px rgba(255, 50, 50, 0.5));\" />                                                          <h1 style=\"margin: 0; color: #ff3232; font-size: 32px; font-weight: 700; text-shadow: 0 0 20px rgba(255, 50, 50, 0.8);\">                                 ✕ Cita Cancelada                             </h1>                             <p style=\"margin: 10px 0 0 0; color: #ffffff; font-size: 16px;\">                                 Tu reunión ha sido cancelada                             </p>                         </td>                     </tr>                      <!-- Contenido principal -->                     <tr>                         <td style=\"padding: 40px 30px; background: linear-gradient(180deg, #1a1a1a 0%, #0f0f0f 100%);\">                             <p style=\"margin: 0 0 25px 0; color: #ffffff; font-size: 18px; line-height: 1.6;\">                                 Hola <strong style=\"color: #00ffff;\">{{ $('Webhook').item.json.body.cliente.nombre }}</strong>,                             </p>                                                          <p style=\"margin: 0 0 30px 0; color: #e0e0e0; font-size: 16px; line-height: 1.6;\">                                 Lamentamos que su cita del <strong style=\"color: #ff3232;\">{{ $('obtener_citas').item.json.fecha_cita_timezone_legible }}</strong> haya sido cancelada. Puede solicitar que se le agende una nueva cita cuando guste.                             </p>                              <!-- Bloque de información -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">                                 <tr>                                     <td style=\"background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%); border-left: 4px solid #ff3232; padding: 25px; border-radius: 10px; box-shadow: 0 0 20px rgba(255, 50, 50, 0.15);\">                                         <h3 style=\"margin: 0 0 15px 0; color: #ff3232; font-size: 20px; display: flex; align-items: center;\">                                             📅 Información de la Cita                                         </h3>                                         <p style=\"margin: 0 0 10px 0; color: #ffffff; font-size: 15px; line-height: 1.6;\">                                             <strong style=\"color: #ff3232;\">Fecha Cancelada:</strong>  {{ $('obtener_citas').item.json.fecha_cita_timezone_legible }}                                      </p>                                         <p style=\"margin: 0; color: #e0e0e0; font-size: 14px; line-height: 1.5;\">                                             <strong style=\"color: #00ffff;\">Estado:</strong> Cancelada                                         </p>                                     </td>                                 </tr>                             </table>                              <!-- Botón para agendar nueva cita -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 35px 0;\">                                 <tr>                                     <td align=\"center\">                                         <a href=\"https://wa.me/your_phone_number?text=\" style=\"display: inline-block; background: linear-gradient(135deg, #00ffff 0%, #00cccc 100%); color: #000000; text-decoration: none; padding: 18px 45px; border-radius: 30px; font-size: 18px; font-weight: 700; box-shadow: 0 0 25px rgba(0, 255, 255, 0.6); text-transform: uppercase; letter-spacing: 1px;\">                                             📆 Agendar Nueva Cita                                         </a>                                     </td>                                 </tr>                             </table>                              <!-- Sección de servicios -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 40px 0 30px 0;\">                                 <tr>                                     <td width=\"33%\" style=\"padding: 5px;\">                                         <div style=\"background-color: #1a1a1a; padding: 20px 10px; border-radius: 10px; text-align: center; border: 1px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);\">                                             <div style=\"font-size: 32px; margin-bottom: 10px;\">🤖</div>                                             <h4 style=\"margin: 0; color: #00ffff; font-size: 14px;\">Inteligencia Artificial</h4>                                         </div>                                     </td>                                     <td width=\"33%\" style=\"padding: 5px;\">                                         <div style=\"background-color: #1a1a1a; padding: 20px 10px; border-radius: 10px; text-align: center; border: 1px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);\">                                             <div style=\"font-size: 32px; margin-bottom: 10px;\">📊</div>                                             <h4 style=\"margin: 0; color: #00ffff; font-size: 14px;\">Marketing Digital</h4>                                         </div>                                     </td>                                     <td width=\"33%\" style=\"padding: 5px;\">                                         <div style=\"background-color: #1a1a1a; padding: 20px 10px; border-radius: 10px; text-align: center; border: 1px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);\">                                             <div style=\"font-size: 32px; margin-bottom: 10px;\">📱</div>                                             <h4 style=\"margin: 0; color: #00ffff; font-size: 14px;\">Redes Sociales</h4>                                         </div>                                     </td>                                 </tr>                             </table>                              <!-- Link al sitio web -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">                                 <tr>                                     <td align=\"center\" style=\"background-color: #0a0a0a; padding: 20px; border-radius: 10px; border: 1px solid #333333;\">                                         <p style=\"margin: 0 0 10px 0; color: #ffffff; font-size: 15px;\">                                             🌐 Conoce más sobre nuestros servicios                                         </p>                                         <a href=\"https://www.your_brand.com.mx\" style=\"color: #00ffff; text-decoration: none; font-weight: 600; font-size: 16px; text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);\">                                             Visítanos aquí →                                         </a>                                     </td>                                 </tr>                             </table>                          </td>                     </tr>                      <!-- Footer -->                     <tr>                         <td style=\"background-color: #000000; padding: 35px 30px; text-align: center; border-top: 2px solid #ff3232;\">                             <p style=\"margin: 0 0 15px 0; color: #ffffff; font-size: 16px; font-weight: 600;\">                                 Gracias por confiar en nosotros                             </p>                             <p style=\"margin: 0 0 20px 0; color: #00ffff; font-size: 15px;\">                                 your_name<br>                                 <span style=\"color: #999999; font-size: 13px;\">CEO de your_brand</span>                             </p>                             <div style=\"width: 60px; height: 2px; background: linear-gradient(90deg, transparent, #00ffff, transparent); margin: 20px auto;\"></div>                             <p style=\"margin: 0; color: #666666; font-size: 12px;\">                                 © 2025 your_brand. Todos los derechos reservados.                             </p>                             <p style=\"margin: 15px 0 0 0;\">                                 <a href=\"https://www.your_brand.com.mx\" style=\"color: #00ffff; text-decoration: none; margin: 0 10px; font-size: 12px;\">Sitio Web</a>                                 <span style=\"color: #333333;\">|</span>                                 <a href=\"https://wa.me/your_phone_number?text=\" style=\"color: #00ffff; text-decoration: none; margin: 0 10px; font-size: 12px;\">WhatsApp</a>                             </p>                         </td>                     </tr>                  </table>             </td>         </tr>     </table> </body> </html>",
        "options": {
          "appendAttribution": false,
          "senderName": "your_name, CEO de your_brand"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        -224
      ],
      "id": "f4eaa3b5-eda8-4101-97a1-ea4d1f3d9248",
      "name": "enviar_correo_cita_cancelada",
      "webhookId": "61a46709-2e59-4111-9e1c-426028790690",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_credential_id",
          "name": "your_brand Nuevo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.cliente.email }}",
        "subject": "Cita Cancelada",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>Cita Pospuesta - your_brand</title> </head> <body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #0a0a0a;\">     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #0a0a0a; padding: 20px;\">         <tr>             <td align=\"center\">                 <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #1a1a1a; border-radius: 15px; overflow: hidden; box-shadow: 0 0 30px rgba(255, 50, 50, 0.2); border: 1px solid #ff3232;\">                                          <!-- Header con logo y fondo decorativo -->                     <tr>                         <td style=\"background: linear-gradient(135deg, #000000 0%, #1a1a1a 100%); padding: 40px 30px; text-align: center; position: relative; border-bottom: 2px solid #ff3232;\">                                                          <!-- Logo -->                             <img src=\"https://ik.imagekit.io/49rd3bmeqs/Logos%20your_brand/logo2%20(3).png?updatedAt=1759468732222\" alt=\"your_brand Logo\" style=\"width: 120px; height: auto; margin-bottom: 20px; filter: drop-shadow(0 0 10px rgba(255, 50, 50, 0.5));\" />                                                          <h1 style=\"margin: 0; color: #ff3232; font-size: 32px; font-weight: 700; text-shadow: 0 0 20px rgba(255, 50, 50, 0.8);\">                                 ✕ Cita Cancelada                             </h1>                             <p style=\"margin: 10px 0 0 0; color: #ffffff; font-size: 16px;\">                                 Tu reunión ha sido cancelada                             </p>                         </td>                     </tr>                      <!-- Contenido principal -->                     <tr>                         <td style=\"padding: 40px 30px; background: linear-gradient(180deg, #1a1a1a 0%, #0f0f0f 100%);\">                             <p style=\"margin: 0 0 25px 0; color: #ffffff; font-size: 18px; line-height: 1.6;\">                                 Hola <strong style=\"color: #00ffff;\">{{ $('Webhook').item.json.body.cliente.nombre }}</strong>,                             </p>                                                          <p style=\"margin: 0 0 30px 0; color: #e0e0e0; font-size: 16px; line-height: 1.6;\">                                 Lamentamos que su cita del <strong style=\"color: #ff3232;\">{{ $('obtener_citas').item.json.fecha_cita_timezone_legible }}</strong> haya sido pospuesta. Puede solicitar que se le agende una nueva cita cuando guste.                             </p>                              <!-- Bloque de información -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">                                 <tr>                                     <td style=\"background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%); border-left: 4px solid #ff3232; padding: 25px; border-radius: 10px; box-shadow: 0 0 20px rgba(255, 50, 50, 0.15);\">                                         <h3 style=\"margin: 0 0 15px 0; color: #ff3232; font-size: 20px; display: flex; align-items: center;\">                                             📅 Información de la Cita                                         </h3>                                         <p style=\"margin: 0 0 10px 0; color: #ffffff; font-size: 15px; line-height: 1.6;\">                                             <strong style=\"color: #ff3232;\">Fecha Cancelada:</strong>  {{ $('obtener_citas').item.json.fecha_cita_timezone_legible }}                                      </p>                                         <p style=\"margin: 0; color: #e0e0e0; font-size: 14px; line-height: 1.5;\">                                             <strong style=\"color: #00ffff;\">Estado:</strong> Cancelada                                         </p>                                     </td>                                 </tr>                             </table>                              <!-- Botón para agendar nueva cita -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 35px 0;\">                                 <tr>                                     <td align=\"center\">                                         <a href=\"https://wa.me/your_phone_number?text=\" style=\"display: inline-block; background: linear-gradient(135deg, #00ffff 0%, #00cccc 100%); color: #000000; text-decoration: none; padding: 18px 45px; border-radius: 30px; font-size: 18px; font-weight: 700; box-shadow: 0 0 25px rgba(0, 255, 255, 0.6); text-transform: uppercase; letter-spacing: 1px;\">                                             📆 Agendar Nueva Cita                                         </a>                                     </td>                                 </tr>                             </table>                              <!-- Sección de servicios -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 40px 0 30px 0;\">                                 <tr>                                     <td width=\"33%\" style=\"padding: 5px;\">                                         <div style=\"background-color: #1a1a1a; padding: 20px 10px; border-radius: 10px; text-align: center; border: 1px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);\">                                             <div style=\"font-size: 32px; margin-bottom: 10px;\">🤖</div>                                             <h4 style=\"margin: 0; color: #00ffff; font-size: 14px;\">Inteligencia Artificial</h4>                                         </div>                                     </td>                                     <td width=\"33%\" style=\"padding: 5px;\">                                         <div style=\"background-color: #1a1a1a; padding: 20px 10px; border-radius: 10px; text-align: center; border: 1px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);\">                                             <div style=\"font-size: 32px; margin-bottom: 10px;\">📊</div>                                             <h4 style=\"margin: 0; color: #00ffff; font-size: 14px;\">Marketing Digital</h4>                                         </div>                                     </td>                                     <td width=\"33%\" style=\"padding: 5px;\">                                         <div style=\"background-color: #1a1a1a; padding: 20px 10px; border-radius: 10px; text-align: center; border: 1px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);\">                                             <div style=\"font-size: 32px; margin-bottom: 10px;\">📱</div>                                             <h4 style=\"margin: 0; color: #00ffff; font-size: 14px;\">Redes Sociales</h4>                                         </div>                                     </td>                                 </tr>                             </table>                              <!-- Link al sitio web -->                             <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">                                 <tr>                                     <td align=\"center\" style=\"background-color: #0a0a0a; padding: 20px; border-radius: 10px; border: 1px solid #333333;\">                                         <p style=\"margin: 0 0 10px 0; color: #ffffff; font-size: 15px;\">                                             🌐 Conoce más sobre nuestros servicios                                         </p>                                         <a href=\"https://www.your_brand.com.mx\" style=\"color: #00ffff; text-decoration: none; font-weight: 600; font-size: 16px; text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);\">                                             Visítanos aquí →                                         </a>                                     </td>                                 </tr>                             </table>                          </td>                     </tr>                      <!-- Footer -->                     <tr>                         <td style=\"background-color: #000000; padding: 35px 30px; text-align: center; border-top: 2px solid #ff3232;\">                             <p style=\"margin: 0 0 15px 0; color: #ffffff; font-size: 16px; font-weight: 600;\">                                 Gracias por confiar en nosotros                             </p>                             <p style=\"margin: 0 0 20px 0; color: #00ffff; font-size: 15px;\">                                 your_name<br>                                 <span style=\"color: #999999; font-size: 13px;\">CEO de your_brand</span>                             </p>                             <div style=\"width: 60px; height: 2px; background: linear-gradient(90deg, transparent, #00ffff, transparent); margin: 20px auto;\"></div>                             <p style=\"margin: 0; color: #666666; font-size: 12px;\">                                 © 2025 your_brand. Todos los derechos reservados.                             </p>                             <p style=\"margin: 15px 0 0 0;\">                                 <a href=\"https://www.your_brand.com.mx\" style=\"color: #00ffff; text-decoration: none; margin: 0 10px; font-size: 12px;\">Sitio Web</a>                                 <span style=\"color: #333333;\">|</span>                                 <a href=\"https://wa.me/your_phone_number?text=\" style=\"color: #00ffff; text-decoration: none; margin: 0 10px; font-size: 12px;\">WhatsApp</a>                             </p>                         </td>                     </tr>                  </table>             </td>         </tr>     </table> </body> </html>",
        "options": {
          "appendAttribution": false,
          "senderName": "your_name, CEO de your_brand"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        -32
      ],
      "id": "703e86bf-3a10-403d-baab-b97940cddf9b",
      "name": "enviar_correo_cita_pospuesta",
      "webhookId": "61a46709-2e59-4111-9e1c-426028790690",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_credential_id",
          "name": "your_brand Nuevo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "phoneNumberId": "710637588808362",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.cliente.telefono }}",
        "template": "cita_cancelada|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Webhook').item.json.body.cliente.nombre }}"
                  },
                  {
                    "text": "={{ $('obtener_citas').item.json.fecha_cita_timezone_legible }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1024,
        -32
      ],
      "id": "17654f9d-2c55-4ebc-be94-774ab08eadcc",
      "name": "posponer_cita_wa",
      "webhookId": "53e8e612-3424-4d89-abec-23266c4eabbc",
      "alwaysOutputData": true,
      "credentials": {
        "whatsAppApi": {
          "id": "your_whatsapp_credential_id",
          "name": "WhatsApp account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversaciones (\n    session_id,\n    message,\n    etiqueta,\n    clasificacion_cita,\n    fecha\n)\nVALUES (\n    '{{ $('Webhook').item.json.body.client_id }}',\n    jsonb_build_object(\n        'type', 'ai',\n        'content', jsonb_pretty(json_build_object(\n            'respuesta', 'Cita cancelada\nHola, {{ $('Webhook').item.json.body.cliente.nombre }}, tu cita del {{ $('obtener_citas').item.json.fecha_cita_timezone_legible }} ha sido cancelada con éxito. Lamentamos que no pudiéramos conversar mas profundamente sobre  tu empresa. Si necesitas agendar una nueva cita no dudes en contactarme.',\n            'escalamiento', null,\n            'enviar_formulario', null,\n            'estado', null\n        )::jsonb),\n        'tool_calls', '[]'::jsonb,\n        'additional_kwargs', '{}'::jsonb,\n        'response_metadata', '{}'::jsonb,\n        'invalid_tool_calls', '[]'::jsonb\n    ),\n    'ventas',\n    'agendar_cita',\n    '{{ $now.toISO() }}'::timestamptz\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -32
      ],
      "id": "254f2b0d-5690-45b6-899d-445a69621ecd",
      "name": "actualizar memoria agente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "your_postgres_credential_id",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.estado_nuevo }}",
                    "rightValue": "cita cancelada",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d083a4ac-9f2b-4e81-9ac7-46d4fb918eb7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cita cancelada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "26d1c559-7a74-4575-88a0-748d5ba001d8",
                    "leftValue": "={{ $('Webhook').item.json.body.estado_nuevo }}",
                    "rightValue": "cita pospuesta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cita pospuesta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        128,
        -128
      ],
      "id": "8f163a47-7a4e-43e5-aa5b-1f016f2d9db8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "your_calendar_id@gmail.com",
          "mode": "list",
          "cachedResultName": "your_calendar_id@gmail.com"
        },
        "eventId": "={{ $json.body.google_event_id }}",
        "options": {
          "sendUpdates": "none"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        352,
        -32
      ],
      "id": "6289f987-a6ac-4203-a370-ee69f761d02d",
      "name": "Delete an event",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_credential_id",
          "name": "your_brand Nuevo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "your_calendar_id@gmail.com",
          "mode": "list",
          "cachedResultName": "your_calendar_id@gmail.com"
        },
        "eventId": "={{ $json.body.google_event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        352,
        -224
      ],
      "id": "e16cb3aa-21fd-4c8a-8180-af695812a8c0",
      "name": "Delete an event1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_credential_id",
          "name": "your_brand Nuevo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM citas\nWHERE client_id = '{{ $json.body.client_id }}'\nORDER BY fecha_cita_timezone_cliente DESC\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        -128
      ],
      "id": "ef324109-51ae-4d55-995a-5b786979b5fe",
      "name": "obtener_citas",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "your_postgres_credential_id",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversaciones (\n    session_id,\n    message,\n    etiqueta,\n    clasificacion_cita,\n    fecha\n)\nVALUES (\n    '{{ $('Webhook').item.json.body.client_id }}',\n    jsonb_build_object(\n        'type', 'ai',\n        'content', jsonb_pretty(json_build_object(\n            'respuesta', 'Cita cancelada\nHola, {{ $('Webhook').item.json.body.cliente.nombre }}, tu cita del {{ $('obtener_citas').item.json.fecha_cita_timezone_legible }} ha sido cancelada con éxito. Lamentamos que no pudiéramos conversar mas profundamente sobre  tu empresa. Si necesitas agendar una nueva cita no dudes en contactarme.',\n            'escalamiento', null,\n            'enviar_formulario', null,\n            'estado', null\n        )::jsonb),\n        'tool_calls', '[]'::jsonb,\n        'additional_kwargs', '{}'::jsonb,\n        'response_metadata', '{}'::jsonb,\n        'invalid_tool_calls', '[]'::jsonb\n    ),\n    'ventas',\n    'agendar_cita',\n    '{{ $now.toISO() }}'::timestamptz\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -224
      ],
      "id": "44c21639-a229-4dc3-93e7-88f2955af823",
      "name": "actualizar memoria agente1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "your_postgres_credential_id",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "phoneNumberId": "710637588808362",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.cliente.telefono }}",
        "template": "cita_cancelada|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Webhook').item.json.body.cliente.nombre }}"
                  },
                  {
                    "text": "={{ $('obtener_citas').item.json.fecha_cita_timezone_legible }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1024,
        -224
      ],
      "id": "8606484a-0bad-4350-a1f7-5192a84c569b",
      "name": "cancelar_cita_wa",
      "webhookId": "53e8e612-3424-4d89-abec-23266c4eabbc",
      "alwaysOutputData": true,
      "credentials": {
        "whatsAppApi": {
          "id": "your_whatsapp_credential_id",
          "name": "WhatsApp account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "your_n8n_domain_service",
            "user-agent": "Vercel Edge Functions",
            "content-length": "546",
            "content-type": "application/json",
            "forwarded": "for=your_ip_address;host=your_vercel_app_domain;proto=https;sig=your_token;exp=1763971440",
            "x-forwarded-for": "your_ip_address",
            "x-forwarded-host": "your_n8n_domain_service",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "737fb838982b",
            "x-middleware-subrequest": "6f337fabd9e2aa3ea82e55c7799bcd36f8392b0d",
            "x-real-ip": "your_ip_address",
            "x-vercel-id": "sfo1::xzjv2-1763971140009-6de70f95042b",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "update_appointment_status",
            "cita_id": 21,
            "client_id": 1762459014109100,
            "google_event_id": "62udqdopftmdcggqdqndptsra4",
            "estado_anterior": "cita cancelada",
            "estado_nuevo": "cita pospuesta",
            "fecha_cita": "2025-11-24T15:00:00+00:00",
            "servicio": "Marketing Digital Completo",
            "cliente": {
              "nombre": "your_full_name",
              "email": "your_email@example.com",
              "telefono": "+your_phone_number",
              "chatwoot_id": 48,
              "origen_datos": "tabla_leads"
            },
            "agente_responsable": "Humano",
            "motivo_cancelacion": "inconventiene con los hijos",
            "cancelado_por": "Humano"
          },
          "webhookUrl": "https://your_n8n_domain_service/webhook/d6cdbb82-f9a6-455d-a95f-df5c3fb35ff3",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "agenda_telegram_citas2": {
      "main": [
        [
          {
            "node": "cancelar_cita_wa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agenda_telegram_citas3": {
      "main": [
        [
          {
            "node": "posponer_cita_wa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_correo_cita_cancelada": {
      "main": [
        [
          {
            "node": "agenda_telegram_citas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_correo_cita_pospuesta": {
      "main": [
        [
          {
            "node": "agenda_telegram_citas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "posponer_cita_wa": {
      "main": [
        [
          {
            "node": "actualizar memoria agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "obtener_citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Delete an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "enviar_correo_cita_pospuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event1": {
      "main": [
        [
          {
            "node": "enviar_correo_cita_cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_citas": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_cita_wa": {
      "main": [
        [
          {
            "node": "actualizar memoria agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc0aa225-90a9-48e8-bb48-97c8dc159acf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your_instance_id"
  },
  "id": "your_credential_id",
  "tags": []
}